---
layout: default
---

<div class="container-fluid">
    <h3 class="fw-bold">
      Future-thinking, curious life-long learner with an adaptive mindset.
    </h3>
    {{ content }}
  </div>
    <img src="{{ site.github.url }}" alt="Home" width="100%" />
  </div>
</div>

<div class="container-fluid">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Writing</h3>
    {% for post in site.posts %}
    <p>
      <a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{
      post.date | date: "%B %-d, %Y" }}
    </p>
    {% endfor %}
  </div>
</div>
