---
layout: default
---

<div class="container-fluid">
    <h3 class="fw-bold">
      Future-thinking, curious life-long learner with an adaptive mindset.
    </h3>
    {{ content }}
  </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/991px-Placeholder_view_vector.svg.png" alt="Home" width="100%"/>
    <h3 class="fw-bold">Writing</h3>
    {% for post in site.posts %}
    <p>
      <a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{
      post.date | date: "%B %-d, %Y" }}
    </p>
    {% endfor %}
  </div>
</div>
